body{
    background-color: #f3e1d5;
}
p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: bold;
	font-style: italic;
	color: rgb(119, 78, 24);
	text-align: center;
}
ul{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: normal;
	font-style: normal;
	color: rgb(14, 12, 10);
}
li{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: normal;
	font-style: normal;
	color: rgb(14, 12, 10);

}


#header{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: bold;
	font-style: normal;
	color: white;
	text-align: center;
	background-color: rgb(119, 78, 24);
}

.grid-container {
	display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-gap: 10px;
   

}

.grid-container > div{
	font-size: 30px;
}

#header{
	grid-column: 1 / span 3;
	
}

#main1{
	grid-column: 1 / span 1;
	

}
#main2{
	grid-column: 2 / span 1;

}

#right{
	grid-column: 3 / span 1;

}

#footer{
	grid-column: 1 / span 3;
	text-align: center;
	font-size: 20px;
	
}
img{
    width:100%;
}
#in{
	color: color: rgb(119, 78, 24);
	text-align: center;}

#ins{
		color: color: rgb(119, 78, 24);
		text-align: center;}



@media only screen and (max-width: 768px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
        
    }
    
    #main1{
		grid-column: 1 / span 2;
        
    }
    
    #main2{
        grid-column: 1 / span 2;
        
    }
    #right{
        grid-column: 1 / span 2;
        
    }
    
    #footer{
        grid-column: 1 / span 2;
        
	}
}

@media only screen and (max-width: 500px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
        
    }
    
    #main1{
		grid-column: 1 / span 2;
        
    }
    
    #main2{
        grid-column: 1 / span 2;
        
    }
    #right{
        grid-column: 1 / span 2;
        
    }
    
    #footer{
        grid-column: 1 / span 2;
        
	}

}